* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #7EC855;
    font-family: 'Roboto', sans-serif;
}

.shopping-cart {
    width: 750px;
    margin: 30px auto;
    background: #FFFFFF;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
.shop {
    width: 750px;
    margin: 30px auto;
    background: #FFFFFF;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}

.item {
    padding: 22px 30px;
    height: 120px;
    display: flex;
}

.shop_item {
    padding: 22px 30px;
    height: 90px;
    display: flex;
}
.item:nth-child(even), .shop_item:nth-child(odd) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
}

.hidden{
    height:0px;
    width: 0px;
}
.buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 30px;
}

.delete-btn {
    display: inline-block;
    Cursor: pointer;
    width: 16px;
    height: 16px;
    background: url("../img/delete-16.png") no-repeat center;
}

.description {
    padding-top: 12px;

}

.productName {
    margin-right: 10px;
    width: 180px;
}

.name {
    margin-right: 10px;
    width: 300px;
    text-align:left;
}

.price, .volume, .left, .count{
    margin-right: 10px;
    width: 85px;
    text-align:left;
}

.productPrice{
    width: 70px;
    margin-right:10px;
    text-align:right;
}

.priceWithDiscount{
    margin-top: 8px;
    width: 70px;
    margin-right:10px;
    text-align:left;
}

.fullPrice{
    width: 60px;
}

.description span {
    display: block;
    font-size: 14px;
    color: #9441ef;
    font-weight: 400;
}

.description span:first-child {
    margin-bottom: 5px;
}
.description span:last-child {
    font-weight: 300;
    margin-top: 18px;
    color: #9441ef;
}
.fullPrice{
    margin-top: 18px;
    color: #5e6977;
    width:100px;
}

.quantity {
    padding-top: 20px;
    margin-right: auto;
}
.quantity input {
    border: none;
    text-align: center;
    width: 36px;
    font-size: 16px;
    color: #414448;
    font-weight: 300;
}
tr, td, th{
    border: 0;
    border-radius:0px;
}
button[class*=btn] {
    margin-top:5px;
    padding:4px;
    width: 24px;
    height: 24px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}
.minus-btn{
    margin-right:12px;
}


button:focus,
input:focus {
    outline:0;
}

.total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #9441ef;
    font-weight: 300;
}

.bottom{
    display: flex;
    flex-direction: row;
    font-weight: 300;
    font-size: 16px;
    color: #414448;
    height:50px;
    margin:20px;

}
.bottom div{
    margin-bottom:15px;
}
.bottom_block{
    width:510px;
    text-align:right;
    margin-right:40px
}
.submit {
    box-shadow:inset 0px 0px 0px 0px #caefab;
    background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    background-color:#77d42a;
    border-radius:6px;
    border:1px solid #268a16;
    display:inline-block;
    cursor:pointer;
    color:#5c506d;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:5px 10px;
    text-decoration:none;
    text-shadow:0px 0px 0px #aade7c;
}
.submit:hover {
    background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    background-color:#5cb811;
}
.submit:active {
    position:relative;
    top:1px;
}

